.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
}


.product-item {
    background: white; 
    border: 1px solid #ccc;
    padding: 20px; 
    border-radius: 5px; 
    text-align: center; 
    width: 200px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    transition: transform 0.2s; 
}

.product-item:hover {
    transform: translateY(-5px); 
}

.product-item img {
    width: 100%; 
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px; 
}

.product-item h2 {
    font-size: 18px; 
    margin-bottom: 10px; 
    font-weight: 500; 
}

.product-item p {
    font-size: 16px; 
    color: #666; 
}

.shop_cart{
    position: relative;
    bottom: -6px;
}


.description {
    position: relative;
    padding-left: 180px;
    bottom: 10px;
}

.info-popup {
    position: absolute;
    top: 0;
    left: calc(100% + 10px); /* Расположение справа от значка */
    background-color: #222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 999; /* Чтобы всплывающее окно оказалось выше других элементов */
    font-weight: 500;
  }


  .filter-container {
    display: flex;
    justify-content: space-between;
  }


  .price-container input{
    margin-bottom: 25px;
    box-shadow: none;
    text-shadow: none;
    padding-left: 10px;
    height: 30px;
    font-size: 15px;
  }

  .filter_btn {
    width: 30%;
    margin-bottom: 25px;
    border-radius: 15px;
    font-size: 15px;
  }